PORT=3000
REACT_APP_DOMAIN=https://movienew.cybersoft.edu.vn/api
REACT_APP_TOKEN_CYBERSOFT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZW5Mb3AiOiJCb290Y2FtcCA1OCIsIkhldEhhblN0cmluZyI6IjExLzA2LzIwMzAiLCJIZXRIYW5UaW1lIjoiMTkwNzQ1Mjc5OSIsIm5iZiI6MTkwNzQ1Mjc5OSwiZXhwIjoxOTA3NDUyNzk5fQ.631rl3EwTQfz6CuufNTJlys36XLVmoxo29kP-F_PDKU
REACT_APP_GROUP_ID=GP01

# TMDB (The Movie Database) API Configuration
REACT_APP_TMDB_DOMAIN=https://api.themoviedb.org/3
REACT_APP_TMDB_API_KEY=626eb9e5f6865b22f6c5e5c9ce5a220f
REACT_APP_TMDB_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2MjNlYjllNWYyODY1YjJjZjNWU1YzVjZlVbM2l5ZjZiMTYzNTc3NzlyOC4xMjk5OTk5LCJzdWIiOiI2MTdmZmFjM2YzYnNDAWOTM4ZWY5ZjEiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.7BgVAZAH7zatioQHeG81Pey2tVrflVUZBEoqc___dpo
