 .wrapper {
  position: relative;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  height: 450px;
  background: #fff;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-clip-path: circle(0% at 100% 100%);
  clip-path: circle(0% at 100% 100%);
}

.card:hover .descriptions {
  left: 0px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-clip-path: circle(75%);
  clip-path: circle(75%);
}

.card:hover {
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
}

.card:hover img {
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: scale(1.6) rotate(20deg);
  transform: scale(1.6) rotate(20deg);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.card h1 {
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}

.card p {
  line-height: 24px;
  height: 70%;
}

.card button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  color: #fff;
  font-size: 15px;
  outline: none;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.card button:hover {
  -webkit-transform: scale(0.95) translateX(-5px);
  transform: scale(0.95) translateX(-5px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.rating {
  position: relative;
  padding: 5px, 0;
}

.rating .fa {
  color: #f7f406;
  margin-right: 2px;
  font-size: 16px;
}

.rating span {
  color: #fff;
  padding: 0 5px;
} 


