/* .wrapper {
  position: relative;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  height: 550px;
  background: #fff;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-clip-path: circle(0% at 100% 100%);
  clip-path: circle(0% at 100% 100%);
}

.card:hover .descriptions {
  left: 0px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-clip-path: circle(75%);
  clip-path: circle(75%);
}

.card:hover {
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
}

.card:hover img {
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: scale(1.6) rotate(20deg);
  transform: scale(1.6) rotate(20deg);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.card h1 {
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}

.card p {
  line-height: 24px;
  height: 70%;
}

.card button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  color: #fff;
  font-size: 15px;
  outline: none;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.card button:hover {
  -webkit-transform: scale(0.95) translateX(-5px);
  transform: scale(0.95) translateX(-5px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.rating {
  position: relative;
  padding: 5px, 0;
}

.rating .fa {
  color: #f7f406;
  margin-right: 2px;
  font-size: 16px;
}

.rating span {
  color: #fff;
  padding: 0 5px;
} */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  margin: 60px 60px 30px;
  width: 1100px;
}

.list__cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.card {
  overflow: hidden;
  position: relative;
}
.ribbon {
  position: absolute;
  right: -3px;
  top: -3px;
  z-index: 1;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: linear-gradient(#f70505, #8f0808);
  box-shadow: 0 1px 10px -4px #000;
  position: absolute;
  top: 6px;
  right: -35px;
}
.card__visual {
  overflow: hidden;
  position: relative;
}

.card__visual::before {
  content: "";
  display: block;
  padding-top: 150%;
}

.card__visual__action {
  bottom: -50px;
  left: 0;
  opacity: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transition-property: left opacity;
  transition-property: left opacity;
  z-index: 2;
}

.card__visual__action .button {
  width: 100%;
}

.card__visual:hover .card__poster::after {
  opacity: 1;
}

.card__visual:hover .card__visual__action {
  bottom: 0;
  opacity: 1;
}

.card__poster {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.card__poster::after {
  background: rgba(23, 23, 23, 0.6);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  z-index: 1;
}

.button {
  background: #27ae60;
  border: solid 1px #1e8449;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
}

.button--danger {
  background: #e74c3c;
  border: solid 1px #d62c1a;
}
.movie-1 .card__poster img {
  width: 100%;
  height: 100%;
}
