header {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 6%,
    rgba(224, 176, 207, 1) 16%,
    rgba(169, 184, 226, 1) 69%,
    rgba(148, 187, 233, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__left {
    display: flex;
    margin: 20px;
    img {
      display: inline;
      width: 100%;
      object-fit: cover;
    }
    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 800;
      margin: 20px;
      color: #6c679c;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        bottom: -20px;
        left: 0;
        background-color: #080024;
        transform: scaleX(0);
        transition: transform 0.3s;
      }
      &:hover {
        &::before {
          transform: scaleX(1);
        }
        color: #a75d12;
      }
    }
  }
  .header__right {
    .content {
      nav ul {
        margin: 45px;
      }
      nav ul li {
        cursor: pointer;
        display: inline;
        margin-right: 20px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 3px;
          bottom: -20px;
          left: 0;
          background-color: #080024;
          transform: scaleX(0);
          transition: transform 0.3s;
        }
        &:hover {
          &::before {
            transform: scaleX(1);
          }
          color: #b0d6e0;
        }
      }

      ul li a {
        color: #9a3cae;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
