.carousel {
  height: 100vh;
  @media screen and (max-width: 541px) {
    height: 38.5vh;
    margin-bottom: 3rem;
    overflow: hidden;
  }
  @media screen and (max-width: $bp-mobile) {
    height: 28.4vh;
    margin-bottom: 2rem;
    overflow: hidden;
  }
}
.banner {
  .content-style {
    height: 100vh;
    color: #fff;
    line-height: 100vh;
    text-align: center;
    background: #364d79;
  }
  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
  }
  @media screen and (max-width: 821px) {
    .content-style {
      height: 39vh;
    }
    img {
      height: 39vh;
    }
  }
  @media screen and (max-width: $bp-mobile) {
    img {
      height: 28vh;
    }
  }
}
